* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
}


body {
    background-color: #060606;
}


.wrap {
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1000px;
}


.burger {
    display: none;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
}
.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}
.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}
#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: 0px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: #060606
}
.sidebarMenuInner{
    margin:0;
    padding:0;
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 10px;
    right: 16px;
    height: 22px;
    width: 25px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}


.menu_msg_eyes {
    bottom: 10px;
    width: 150px;
    padding-bottom: 100px;
    box-shadow: none;
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
}
#sidebarMenu1 {
    height: 50%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: 0px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    margin-top: -300px;
}
.sidebarMenuInner0{
    margin:0;
    padding:0;
}
.sidebarMenuInner0 li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner0 li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner0 li a{
    color: #fff;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu1 {
    transform: translateX(0);
}
input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle1 {
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 10px;
    left: 50px;
    height: 22px;
    width: 61px;
}
.sidebarIconToggle1 img {
    background-color: #FA4A0C;
    width: 100%;
    border: 1px solid #FA4A0C;
    border-radius: 30px;
}



.menu_sv {
    bottom: 30px;
    margin-bottom: 50px;
    width: 150px;
    padding-bottom: 100px;
    box-shadow: none;
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
}
#sidebarMenu2 {
    height: 50%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: 0px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    margin-top: -600px;
    
}
input[type="checkbox"]:checked ~ #sidebarMenu2 {
    transform: translateX(0);
}
input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle2 {
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 10px;
    left: 50px;
    height: 22px;
    width: 61px;
}
.sidebarIconToggle2 img {
    background-color: #FA4A0C;
    width: 100%;
    border: 1px solid #FA4A0C;
    border-radius: 30px;
}
.sidebarIconToggle2 img:hover, .sidebarIconToggle1 img:hover {
    filter: drop-shadow(0px 0px 5px #FA4A0C);
}



.header_up_wrap {
    margin-top: 10px;
}
.header_up_wrap h1 {
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
}        
.header_up_wrap h1 span {
    color: #FA4A0C;
}

.header_up_wrap {
    margin-top: 10px;
}
.header_up_wrap h1 {
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    padding-bottom: 20px;
}        
.header_up_wrap h1 span {
    color: #FA4A0C;
}
.header_up_wrapp {
    padding-top: 100px;
    margin-top: 10px;
}
.header_up_wrapp h1 {
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    padding-bottom: 20px;
}        
.header_up_wrapp h1 span {
    color: #FA4A0C;
}

.header {    
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1000px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.menu {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-evenly
}
.menu li a {
    text-decoration: none;
    color: #fff;
}
.menu li a:hover {
    color: #FA4A0C
}
.menu img {
    width: 100px;
}

.logo{
    text-align: center;
    text-decoration: none;
    padding-top: 150px;
}
.logo_1{
    text-align: center;
    text-decoration: none;
    padding: 50px;
}
.low_header {
    background-color: black;
}

.stock {
    background-color: black;
}

.button_will_respond {
    text-decoration: none;
    border: 3px solid #FA4A0C;
    border-radius: 5px; 
    padding: 10px 20px;
    background-color: #FA4A0C;
    color: #060606;
    font-size: 20px;
    font-weight: 600;
}

.button_will_respond:hover {
    filter: drop-shadow(0px 0px 10px #fff);
    color: #fff;
}



.second_block {
    padding-bottom: 40px;
    padding-top: 20px;
}
.second_block_card {
    display: flex;
    justify-content: space-around;
}
.second_block_card_1_1, .second_block_card_1_2 {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.second_block_card img{
    width: 90px;
}
.second_block_card p{
    padding-top: 20px;
    width: 30px;
}
.block_1, .block_2, .block_3, .block_4, .block_5, .block_6 {
    
}


.arts_block{
    display: flex;
}
.menu_model_stats {
    list-style: none;
    padding-top: 20px;
}
.menu_model_stats li {
    list-style: none;
    padding-top: 5px;
}
.arts1, .arts2, .arts3 {
    text-align: center;
}



#frame_1 { 
    padding-top: 20px;
    margin: 0 auto; 
    width: 800px; 
    max-width: 100%; 
    text-align: center; 
} 
  
#frame_1 input[type=radio] { 
    display: none; 
} 
  
#frame_1 label { 
    cursor: pointer; 
    text-decoration: none; 
} 
  
#overflow_1 { 
    width: 100%; 
    overflow: hidden; 
} 
  
#frame1_1:checked~#slides_1 .inner_1 { 
    margin-left: 0; 
} 
  
#frame2_1:checked~#slides_1 .inner_1 { 
    margin-left: -100%; 
} 
  
#frame3_1:checked~#slides_1 .inner_1 { 
    margin-left: -200%; 
} 
  
#frame4_1:checked~#slides_1 .inner_1 { 
    margin-left: -300%; 
} 
  
#slides_1 .inner_1 { 
    transition: margin-left 800ms  
        cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    width: 400%; 
    line-height: 0; 
    height: 300px; 
} 
  
#slides_1 .frame_1 { 
    width: 25%; 
    float: left; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    color: #FFF; 
} 
  

#slides_1 .frame_2_1 { 
    background: #F90; 
} 
  
#slides_1 .frame_3_1 { 
    background: #606; 
} 
  
#slides_1 .frame_4_1 { 
    background: #C00; 
} 
  
#controls_1 { 
    margin: -180px 0 0 0; 
    width: 100%; 
    height: 50px; 
    z-index: 3; 
    position: relative; 
} 
  
#controls_1 label { 
    transition: opacity 0.2s ease-out; 
    display: none; 
    width: 50px; 
    height: 50px; 
    opacity: .4; 
    
} 
  
#controls_1 label:hover { 
    opacity: 1; 
} 
  
#frame1_1:checked~#controls_1 label:nth-child(2), 
#frame2_1:checked~#controls_1 label:nth-child(3), 
#frame3_1:checked~#controls_1 label:nth-child(4), 
#frame4_1:checked~#controls_1 label:nth-child(1) { 
    background:  
    url(/img/Стрелка.png) no-repeat; 
    float: right; 
    margin: -20px -50px 0 0; 
    display: block; 
} 
  
#frame1_1:checked~#controls_1 label:nth-last-child(2), 
#frame2_1:checked~#controls_1 label:nth-last-child(3), 
#frame3_1:checked~#controls_1 label:nth-last-child(4), 
#frame4_1:checked~#controls_1 label:nth-last-child(1) { 
    background:  
    url(/img/Стрелка1.png) no-repeat;
    float: left; 
    margin: 0 0 0 -50px; 
    display: block; 
} 
  
#bullets_1 { 
    margin: 160px 0 0; 
    text-align: center; 
} 
  
#frame1_1:checked~#bullets_1 label:nth-child(1), 
#frame2_1:checked~#bullets_1 label:nth-child(2), 
#frame3_1:checked~#bullets_1 label:nth-child(3), 
#frame4_1:checked~#bullets_1 label:nth-child(4) { 
    background: #444; 
} 
  
@media screen and (max-width: 900px) { 
    #frame1_1:checked~#controls_1 label:nth-child(2), 
    #frame2_1:checked~#controls_1 label:nth-child(3), 
    #frame3_1:checked~#controls_1 label:nth-child(4), 
    #frame4_1:checked~#controls_1 label:nth-child(1), 
    #frame1_1:checked~#controls_1 label:nth-last-child(2), 
    #frame2_1:checked~#controls_1 label:nth-last-child(3), 
    #frame3_1:checked~#controls_1 label:nth-last-child(4), 
    #frame4_1:checked~#controls_1 label:nth-last-child(1) { 
        margin: 0; 
    } 
    #slides_1 { 
        max-width: calc(100% - 140px); 
        margin: 0 auto; 
    } 
}



.programm {
    background-color: black;
}
#frame_2 { 
    padding-top: 20px;
    margin: 0 auto; 
    width: 800px; 
    max-width: 100%; 
    text-align: center; 
} 
  
#frame_2 input[type=radio] { 
    display: none; 
} 
  
#frame_2 label { 
    cursor: pointer; 
    text-decoration: none; 
} 
  
#overflow_2 { 
    width: 100%; 
    overflow: hidden; 
} 
  
#frame1_2:checked~#slides_2 .inner_2 { 
    margin-left: 0; 
} 
  
#frame2_2:checked~#slides_2 .inner_2 { 
    margin-left: -100%; 
} 
  
#frame3_2:checked~#slides_2 .inner_2 { 
    margin-left: -200%; 
} 
  
#frame4_2:checked~#slides_2 .inner_2 { 
    margin-left: -300%; 
} 
  
#slides_2 .inner_2 { 
    transition: margin-left 800ms  
        cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    width: 400%; 
    line-height: 0; 
    height: 300px; 
} 
  
#slides_2 .frame_2 { 
    width: 25%; 
    float: left; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    color: #FFF; 
} 
  

#slides_2 .frame_2_2 { 
    background: #F90; 
} 
  
#slides_2 .frame_3_2 { 
    background: #606; 
} 
  
#slides_2 .frame_4_2 { 
    background: #C00; 
} 
  
#controls_2 { 
    margin: -180px 0 0 0; 
    width: 100%; 
    height: 50px; 
    z-index: 3; 
    position: relative; 
} 
  
#controls_2 label { 
    transition: opacity 0.2s ease-out; 
    display: none; 
    width: 50px; 
    height: 50px; 
    opacity: .4; 
    
} 
  
#controls_2 label:hover { 
    opacity: 1; 
} 
  
#frame1_2:checked~#controls_2 label:nth-child(2), 
#frame2_2:checked~#controls_2 label:nth-child(3), 
#frame3_2:checked~#controls_2 label:nth-child(4), 
#frame4_2:checked~#controls_2 label:nth-child(1) { 
    background:  
    url(/img/Стрелка.png) no-repeat; 
    float: right; 
    margin: -20px -50px 0 0; 
    display: block; 
} 
  
#frame1_2:checked~#controls_2 label:nth-last-child(2), 
#frame2_2:checked~#controls_2 label:nth-last-child(3), 
#frame3_2:checked~#controls_2 label:nth-last-child(4), 
#frame4_2:checked~#controls_2 label:nth-last-child(1) { 
    background:  
    url(/img/Стрелка1.png) no-repeat;
    float: left; 
    margin: 0 0 0 -50px; 
    display: block; 
} 
  
#bullets_2 { 
    margin: 160px 0 0; 
    text-align: center; 
} 
  
#frame1_2:checked~#bullets_2 label:nth-child(1), 
#frame2_2:checked~#bullets_2 label:nth-child(2), 
#frame3_2:checked~#bullets_2 label:nth-child(3), 
#frame4_2:checked~#bullets_2 label:nth-child(4) { 
    background: #444; 
} 
  
@media screen and (max-width: 900px) { 
    #frame1_2:checked~#controls_2 label:nth-child(2), 
    #frame2_2:checked~#controls_2 label:nth-child(3), 
    #frame3_2:checked~#controls_2 label:nth-child(4), 
    #frame4_2:checked~#controls_2 label:nth-child(1), 
    #frame1_2:checked~#controls_2 label:nth-last-child(2), 
    #frame2_2:checked~#controls_2 label:nth-last-child(3), 
    #frame3_2:checked~#controls_2 label:nth-last-child(4), 
    #frame4_2:checked~#controls_2 label:nth-last-child(1) { 
        margin: 0; 
    } 
    #slides_2 { 
        max-width: calc(100% - 140px); 
        margin: 0 auto; 
    } 
}


.apartments {
    background-color: #060606;
}
#frame_3 { 
    padding-top: 20px;
    margin: 0 auto; 
    width: 800px; 
    max-width: 100%; 
    text-align: center; 
} 
  
#frame_3 input[type=radio] { 
    display: none; 
} 
  
#frame_3 label { 
    cursor: pointer; 
    text-decoration: none; 
} 
  
#overflow_3 { 
    width: 100%; 
    overflow: hidden; 
} 
  
#frame1_3:checked~#slides_3 .inner_3 { 
    margin-left: 0; 
} 
  
#frame2_3:checked~#slides_3 .inner_3 { 
    margin-left: -100%; 
} 
  
#frame3_3:checked~#slides_3 .inner_3 { 
    margin-left: -200%; 
} 
  
#frame4_3:checked~#slides_3 .inner_3 { 
    margin-left: -300%; 
} 
  
#slides_3 .inner_3 { 
    transition: margin-left 800ms  
        cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    width: 400%; 
    line-height: 0; 
    height: 300px; 
} 
  
#slides_3 .frame_3 { 
    width: 25%; 
    float: left; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    color: #FFF; 
} 
  

#slides_3 .frame_2_3 { 
    background: #F90; 
} 
  
#slides_3 .frame_3_3 { 
    background: #606; 
} 
  
#slides_3 .frame_4_3 { 
    background: #C00; 
} 
  
#controls_3 { 
    margin: -180px 0 0 0; 
    width: 100%; 
    height: 50px; 
    z-index: 3; 
    position: relative; 
} 
  
#controls_3 label { 
    transition: opacity 0.2s ease-out; 
    display: none; 
    width: 50px; 
    height: 50px; 
    opacity: .4; 
    
} 
  
#controls_3 label:hover { 
    opacity: 1; 
} 
  
#frame1_3:checked~#controls_3 label:nth-child(2), 
#frame2_3:checked~#controls_3 label:nth-child(3), 
#frame3_3:checked~#controls_3 label:nth-child(4), 
#frame4_3:checked~#controls_3 label:nth-child(1) { 
    background:  
    url(/img/Стрелка.png) no-repeat; 
    float: right; 
    margin: -20px -50px 0 0; 
    display: block; 
} 
  
#frame1_3:checked~#controls_3 label:nth-last-child(2), 
#frame2_3:checked~#controls_3 label:nth-last-child(3), 
#frame3_3:checked~#controls_3 label:nth-last-child(4), 
#frame4_3:checked~#controls_3 label:nth-last-child(1) { 
    background:  
    url(/img/Стрелка1.png) no-repeat;
    float: left; 
    margin: 0 0 0 -50px; 
    display: block; 
} 
  
#bullets_3 { 
    margin: 160px 0 0; 
    text-align: center; 
} 
  
#frame1_3:checked~#bullets_3 label:nth-child(1), 
#frame2_3:checked~#bullets_3 label:nth-child(2), 
#frame3_3:checked~#bullets_3 label:nth-child(3), 
#frame4_3:checked~#bullets_3 label:nth-child(4) { 
    background: #444; 
} 
  
@media screen and (max-width: 900px) { 
    #frame1_3:checked~#controls_3 label:nth-child(2), 
    #frame2_3:checked~#controls_3 label:nth-child(3), 
    #frame3_3:checked~#controls_3 label:nth-child(4), 
    #frame4_3:checked~#controls_3 label:nth-child(1), 
    #frame1_3:checked~#controls_3 label:nth-last-child(2), 
    #frame2_3:checked~#controls_3 label:nth-last-child(3), 
    #frame3_3:checked~#controls_3 label:nth-last-child(4), 
    #frame4_3:checked~#controls_3 label:nth-last-child(1) { 
        margin: 0; 
    } 
    #slides_3 { 
        max-width: calc(100% - 140px); 
        margin: 0 auto; 
    } 
}



.footer_wrap {
    margin-bottom: 50px;
}
.footer {
    display: flex;
    justify-content: space-between;
}
.footer_left {
    display: flex;
}
.footer_left_img {
    padding-top: 5px;
}
.footer_left img{
    width: 150px;
    margin-right: 10px;
}
.footer_left_text h2 {
    width: 230px;
    font-size: 16px;
    padding-bottom: 5px;
}
.footer_left_text a {
    font-size: 14px;
    padding: 5px 10px;
}
.footer_centre h2 {
    font-size: 16px;
    padding-bottom: 5px;
    margin-bottom: 7px;
}
.footer_centre a {
    font-size: 14px;
    padding: 5px 10px;
}
.footer_right h2{
    font-size: 16px;
}
.footer_right img {
    width: 30px;
}
.footer_right nav {
    padding-top: 10px;
}


.footer_rights {
    text-align: center;
    font-size: 18px;
    background-color: black;
}


.reviews {
    background-color: black;
}

.reviews_wrap_img {
    display: flex;
    justify-content: center;
}


@media (max-width: 1000px) {
    .menu li a {
        font-size: 18px;
    }

    .menu_msg_eyes {
        margin-top: 710px;
    }
    .menu_sv {
        margin-top: 610px;
    }
    .sidebarIconToggle2, .sidebarIconToggle1 {
        left: 10px;
    }

    .first_block_wrap {
        display: none;
    }

    .button_will_respond {
        font-size: 26px;
    }

    .second_block_text h4 {
        font-size: 16px;
    }
    .second_block_card img{
        width: 70px;
    }
    .second_block_card p {
        font-size: 18px;
        max-width: 300px;
    }
    .second_block_card h5 {
        font-size: 22px;
    }
    .second_block_card h6 {
        display: block;
        font-size: 24px;
        border: 2px solid #fff;
        border-radius: 10px; 
        padding: 2px 20px;
        background-color: #fff;
        color: #060606;
        
    }
    .block_1, .block_2, .block_3, .block_4, .block_5 {
        padding-bottom: 50px;
    }
    .prise, .third_block_img, .fourth_block_img {
        display: none;
    }

    .third_block_text, .fourth_block_text {
        font-size: 20px;
    }

    .second_block h2, .third_block_wrap h2, .fourth_block_wrap h2 {
        font-size: 36px;
    }
    .second_block h3, .third_block_wrap h3, .fourth_block_wrap h3 {
        font-size: 30px;
    }
    .second_block_card {
        display: block;
    }
    .second_block_card_1_1, .second_block_card_1_2 {
        justify-content: space-around
    }

    .fourth_block_wrap {
        max-width: 600px;
    }

    .footer {
        justify-content: space-around;
    }
    .footer_right img {
        width: 40px;
    }
}


@media (max-width: 800px) {
    .header_up_wrap, .header {
        display: none;
    }
    
    .low_header {
        margin-top: 0;
    }
    .low_header_wrap_logo {
        padding-top: 5px;                                               
    }

    .burger {
        display: block;
    }
    .sidebarMenuInner img {
        width: 200px;
    }

    .low_header_wrap_logo {
        width: 60%;
    }

    .wrap {
        max-width: 800px;
    }

    .third_block_text {
        width: 290px;
    }

    .fourth_block_separation {
        justify-content: space-evenly
    }

    .footer_left {
        display: none;
    }
    .footer_centre h2, .footer_centre a, .footer_right h2 {
        font-size: 20px;
    }

    .arts_block {
        flex-direction: column;
    }
    .arts_block:not(:first-child) div {
        margin-top: 60px;
    }
}





