@import url('https://v1.fontapi.ir/css/SFProDisplay');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@900&display=swap');
@font-face {
    font-family: 'Sweet Mavka'; /* Укажите имя шрифта */
    src: url('../menhouse/src/assets/fonts/SweetMavkaScript.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bahnscrift'; /* Укажите имя шрифта */
    src: url('../menhouse/src/assets/fonts/Bahnscrift.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    background-color: black;
    font-weight: 400;
    font-family: 'SF Pro Display', sans-serif;
}

img {
    /* pointer-events: none; */
}

.slider {
    touch-action: none;
}

/* Стили для снега */
.snowflake {
    position: absolute;
    z-index: 3;
    width: 10px;
    height: 10px;
    background: linear-gradient(white, white);
    border-radius: 50%;
    filter: drop-shadow(0 0 10px white);
}
  