@import url('https://v1.fontapi.ir/css/SFProDisplay');
@font-face {
    font-family: 'Sweet Mavka'; /* Укажите имя шрифта */
    src: url('../menhouse/src/assets/fonts/SweetMavkaScript.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 0;
    background-color: black;
    font-weight: 400;
    font-family: 'SF Pro Display', sans-serif;
}

img {
    pointer-events: none;
}