@import url('https://v1.fontapi.ir/css/SFProDisplay');

body {
    margin: 0;
    background-color: black;
    font-weight: 400;
    font-family: 'SF Pro Display', sans-serif;
}

img {
    pointer-events: none;
}